.chart {
    border-color: black;
    border: 10px;
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;

}

.box {
    height: 100px;
    width: 100px;
    color: red;
    background-color: aqua;
}